<!DOCTYPE html>
<html>
<head>
    <title>create zone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Create Zone</h1>
<form action="/api/zone" method="post">
    <input type="text" name="name" placeholder="name" />
    <br/>

    <input type="submit" value="Create Zone" />
</form>
</body>
</html>
