<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href='/stylesheets/bootstrap.css'/>


</head>
<body>
<span class="center-block h1">welcome to express Ejs index page</span>
<div id="root">

</div>

<script type="text/javascript" src="/build/bundle.js"></script>
</body>
</html>