<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href='/stylesheets/bootstrap.css'/>
</head>
<body>
<form  method="post" action="/one">
    <input type="text" name="name"/>
    <input type="text" name="password"/>
    <button>submit</button>
</form>

<h1><%=data%></h1>
</body>
</html>